.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 8px;
  z-index: 100;
}

.header__logo {
  flex: 0.18;
  height: 10px;
  width: 300px;
  margin-top: 8px;
}
/* .header__logo > img{
    height: 24px;
    width: 100px;
} */

.header__center {
  flex: 0.80;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.header__center > p {
  margin: 8px;
  text-transform: uppercase;
  
  /* font-weight: 502; */
}
.header__center > p >a{
    color: black;
    text-decoration: none;
}

.header__right {
  /* flex: 0.01; */
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.header__right > p {
  margin: 8px;
  /* font-weight: 500; */
}


.header__right > p > a {
    color: black;
    text-decoration: none;
}
.header__icon{
    margin: 7.5px;
}
